---
import { TextSection } from '@components/odyssey-theme';
import Layout from 'layouts/Page.astro';

const seo = {
	title: `Datenschutz | Jungschützenverein Barlo e. V.`,
	description: `Die Datenschutz Seite für die Website vom Jungschützenverein Barlo e. V.`,
};
---

<Layout {seo}>
	<TextSection narrow>
		<h1>Datenschutz</h1>

		TODO!
	</TextSection>
</Layout>
