---
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { BASE_PATH_WITHOUT_DOMAIN } from '../../base-path.mjs';
import {
	AnnouncementBar,
	Container,
	FeatureCard,
} from '../components/odyssey-theme';
import InstaProfileEmbed from '../components/insta-profile-embed/InstaProfileEmbed.astro';
import WhatsappEmbed from '../components/whatsapp-embed/WhatsappEmbed.astro';
---

<AnnouncementBar
	text="Die Fotos vom Jungschützenfest 2024 sind jetzt online!"
	href={BASE_PATH_WITHOUT_DOMAIN + '/fotos/jungschuetzenfest-2024'}
	slot="announcement-bar"
/>
<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Was gibt es auf Insta?</h2>
			<p>
				Folge uns auf Instagram @jungschuetzenvereinbarlo_ev_ um auf dem
				Laufenden zu bleiben!
			</p>

			<InstaProfileEmbed />
		</section>
		<section class="feature-card__section">
			<h2>Komm in die Gruppe!</h2>
			<p>
				In der WhatsApp Gruppe gibt es exklusive Informationen nur für
				Jungschützen!
			</p>
			<WhatsappEmbed />
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
		display: flex;
		flex-direction: column;
	}

	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>

<style is:global>
	.feature-card__section > iframe {
		align-self: center;
	}

	.feature-card__section > .whatsapp-embed {
		align-self: center;
		width: 100%;
		max-width: 600px;
	}
</style>
