---
import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import { BASE_PATH_WITHOUT_DOMAIN } from '../../base-path.mjs';
import {
	AnnouncementBar,
	Container,
	FeatureCard,
} from '../components/odyssey-theme';
---

<AnnouncementBar
	text="Die Fotos vom Jungschützenfest 2024 sind jetzt online!"
	href={BASE_PATH_WITHOUT_DOMAIN + '/fotos/jungschuetzenfest-2024'}
	slot="announcement-bar"
/>
<Layout>
	<HomeHeroSection />
	<Container>
		<section class="feature-card__section">
			<h2>Insta</h2>
			<p>
				Hier sollte irgendwann instagram verlinkt werden, vllt auch Whatsapp mit
				invite link + qr code
			</p>
			<div class="feature-card__grid">
				<FeatureCard
					href={BASE_PATH_WITHOUT_DOMAIN + '/landing-pages/landing-1'}
					title="Landing Page 1"
					imgSrc={BASE_PATH_WITHOUT_DOMAIN +
						'/assets/images/home/screenshots/landing-1'}
				/>
				<FeatureCard
					href={BASE_PATH_WITHOUT_DOMAIN + '/landing-pages/landing-2'}
					title="Landing Page 2"
					imgSrc={BASE_PATH_WITHOUT_DOMAIN +
						'/assets/images/home/screenshots/landing-2'}
				/>
			</div>
		</section>
	</Container>
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--theme-grid-gap);
	}
	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
