---
import { BASE_PATH_WITHOUT_DOMAIN } from '../../../base-path.mjs';
import JungschuetzenLogoSvg from '../../components/JungschuetzenLogoSvg.astro';
import { Container } from '../../components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
---

<Layout>
	<Container>
		<section class="text-and-image__section">
			<div class="text-and-image__image">
				<picture slot="image-container">
					<img
						src={BASE_PATH_WITHOUT_DOMAIN + '/assets/images/vorstand.webp'}
					/>
				</picture>
			</div>
		</section>
	</Container>
	<Container>
		<div class="root">
			<div class="text-root">
				<h2>Das Schützenfest des Jungschützen-Vorstands</h2>

				<JungschuetzenLogoSvg clazz="schuetzenfest-des-vorstands-logo" />
				<p>
					Über die 100 Jahre Jungschützenfest in Barlo sind viele Traditionen
					entstanden, die Jahr für Jahr mit Leidenschaft gefeiert werden. Gerade
					der Vorstand macht über das Schützenfestwochenende einiges mit. Die
					Geschichten werden sich noch Jahre später erzählt und bringen immer
					wieder ein Lachen in die Runde. Das natürlich nur, wenn auch alles
					jugendfrei und im Rahmen des Gesetzes entstanden ist, versteht sich.
					Der ganze Wahnsinn fängt am Donnerstag an. Traditionell muss der Vogel
					fürs kommende Schützenfest vom amtierenden König gestellt werden. Der
					Vorstand dankt, muss aber den ein oder anderen Tod am Abend sterben.
					Der König gibt den Vogel nur ab, wenn der Vorstand diesen freitrinkt.
					Nachdem alle Attrappen freigetrunken und literweise Bier und
					Jägermeister vernichtet sind, kann der Vorstand endlich den Vogel mit
					nach Hause nehmen. Nur wird es einem selten leicht gemacht von den
					Jungschützen, die sich gerne an dem Tag viel Mut antrinken - die eine
					Truppe am Vereinsheim, die andere bei Schmitz oder auch bei Wissing.
					Sie warten nur auf den perfekten Moment im Wald oder im Graben, um
					sich den Vogel zu schnappen. Nach einigen Stunden Druckabbau kommt es
					schon vor der Vorstand mit bloßen Fäusten, mit künstlichem Nebel,
					Farbbomben, Böller oder sogar harmlosen Farbkugelgeschossen zu wehren.
					Da wird man mit der Zeit sehr erfinderisch. Auf Kosten eines blauen
					Auges oder einer dicken Lippe beim Oberst schafft er es trotzdem meist
					bis ins sichere Nest.
				</p>
				<p>
					Nach der turbulenten Nacht wird am nächsten Morgen eine
					Bestandsaufnahme beim Oberst mit Frühstück und Schnaps gemacht. Die
					besten Kranzbinder bemühen sich den Kranz für den König zu binden. Der
					Rest versucht seinen Körper auf Vordermann zu kriegen, da es um 18 Uhr
					schon wieder zum Antreten geht. Der offizielle Teil beginnt und der
					Verein lässt antreten und begrüßt die Freundschaftsvereine. Danach
					geht es mit alle Mann in den Barloer Saal, um bis tief in die Nacht zu
					feiern, ohne einen Gedanken an den nächsten Morgen. Gerade die Reiter
					bedanken sich bei ihrem gestrigen Ich, da es für sie schon samstags um
					6 Uhr zum Reiterfrühstück beim Hauptmann geht. Teilweise noch mit
					derselben Garnitur vom Vortag und ohne Schlaf wird sich hier auf einen
					erfolgreichen Tag eingeschworen und die ersten Flaschen Schnaps
					vernichtet. Der Rest stößt um halb 9 dazu, um die Schützen zu
					empfangen. Schnell in den Keller und den richtigen Hut und den
					richtigen Säbel ergattern und ab zum Antreten. Um alle auf den
					gleichen Stand zu bringen, wird sich „Mietzes“ (frühere Wirtin
					Flinzenberg) traditioneller Pfefferschnaps einverleibt. Was genau drin
					ist, ist ungewiss, aber alle sind sich einig, der extrem scharfe
					selbstgemixte Schnaps kann einen nur nach vorne bringen. Jetzt kann
					der Tag starten und ein neuer König beim Vogelschießen gekrönt werden.
					Nebenbei noch einen Rundgang über die Kirmes und einmal alle Angebote
					abklappern und nebenbei noch ein Auge auf die Schützen. Denn am Abend
					muss noch der Tagesvollste mit dem TV-Orden gekürt werden.
				</p>
				<p>
					Der Sonntag ist der vierte Tag und das macht sich auch bei der Stimme
					des Oberst bemerkbar. Der ein oder andere Satz fällt dann doch etwas
					schwerer, aber das spricht nur für zuvor erfolgreiche Tage. Den
					Vorstandsmitgliedern stehen die Tage ins Gesicht geschrieben. Die Last
					der letzten Tage ist hoch, was anscheinend auch die Pferde merken. Mal
					reitet der Adjutant mit seinem vierbeinigen Gefährt in die
					Musikkapelle, das andere Mal bricht ein Pferd unter der Last dutzenden
					getrunkenen Liter Alkohol zusammen. Unsere professionelle Reitergarde
					hatte aber natürlich immer alles unter Kontrolle und die Pferde hören
					auch meist aufs Wort. Nach dem Antreten und dem Ausholen der
					verheirateten Paare kann der Tag wieder Fahrt aufnehmen. Der Vorstand
					stößt mit dem geladenen Gildevorstand an. Der Vereinsführer und der
					Schriftführer haben eine besonders ehrenvolle Aufgabe. Die beiden
					müssen die letzten Beiträge der verheirateten Paare einsammeln, haben
					dabei aber Narrenfreiheit. Spätestens am Abend beim Fahne schlagen
					macht sich das bemerkbar, wenn plötzlich zwei Männer in
					Vorstandsgarnitur über den Platz torkeln und froh sind, wenn die
					eigene Mutter nicht wiedererkannt werden kann. Neben den beiden
					Kadetten steht die Fahne im Mittelpunkt. Hier zeigt sich wie gut das
					geplante Zurückhalten des Fähnrichs und seiner Offiziere funktioniert
					hat oder ob doch der eine oder andere Wackler auf Schnaps
					zurückzuführen ist. Danach geht es meist weniger zügig in den Saal zum
					Königsball. Die Jungschützen geben ihr Bestes, um dem Feldwebel auf
					den Sack zu gehen. Nur der gezückte Säbel hilft, um Einer-Reihen oder
					die Schildkrötenformation aufzulösen und hinterlässt schon mal einen
					blauen als Andenken beim Schützen. Gott sei Dank stand an der Kreuzung
					nur einmalig eine Ampel. Im Saal begrüßt der König seine Gäste auf dem
					Thron mit vielen Schnapspuren und die Jungschützenfahne wird
					hochgespielt. Inmitten der stimmlosen Menge zeigen sich die
					Vorstandsmitglieder noch als fleißige Tänzer beim Ehrentanz. Am späten
					Abend wird die Fahne dann wieder ausgeholt und in den heiligen
					Jungschützenkeller gebracht. Hier beenden wir mal den Tag, denn was im
					Jungschützenkeller passiert bleibt im Jungschützenkeller.
				</p>

				<p>
					Am Dullenmontag hievt sich jedes Vorstandsmitglied nochmal aus dem
					Bett, um dem Königspaar einen Besuch abzustatten. Hier werden die
					letzten Tage und Stunden des Schützenfestes rekapituliert und die
					Filmrisse zusammengepuzzelt. Der Fähnrich und der Oberst treiben bei
					den Vorstandsmitgliedern die Vereinsbeiträge ein und besprechen
					positive, aber vor allem negative Aktionen, die sich die
					Vorstandsmitglieder über das ganze Jahr geleistet haben. Außerdem wird
					sich gerne dem Vorstands Schwein gewidmet, was vom Adjutanten des
					Oberst beschützt wird. Erstmal geklaut und versteckt geht's für den
					Adjutanten auf die Suche und das nicht nur einmal an dem Tag. Ob in
					der Straßenlaterne, auf dem Feld vergraben, an den fahrenden Trecker
					gebunden oder in den fahrenden Stadtbus geschmissen… Hauptsache das
					Schwein geht nicht verloren. Im besten Falle wird der Adjutant
					ebenfalls im Blick behalten, bevor dieser wieder hinter Stromkästen
					oder im Abflusskanal verloren geht. Zum Abschluss geht's für den
					Vorstand in die Kneipe. Ein Strammer Max auf das erfolgreiche
					Wochenende! In der Nacht dann noch ein kleines Feuer. Die
					traditionellen Unterhosen verbrennen zum Abschluss. Und damit das
					Feuer auch wieder ausgeht, muss natürlich professionell gelöscht
					werden mit den Mitteln, die Mann halt nach fünf süffigen
					Schützenfesttagen hat. Wenn die Reste im Müllcontainer doch noch
					nachbrennen, man mit vollem Körpereinsatz hochklettert und sein
					letztes Löschwasser nutzt, um den Brand zu löschen, sollte man darauf
					achten, dass der Deckel nicht locker ist und man durch sein nicht mehr
					vorhandenes Gleichgewicht nicht in die Hecke befördert wird.
				</p>
			</div>
		</div>
	</Container>
</Layout>

<style is:global>
	.schuetzenfest-des-vorstands-logo {
		max-height: 15rem;
		max-width: 15rem;
		float: right;
	}
</style>
<style>
	.text-root {
		max-width: 70ch;
	}

	.text-root p {
		word-break: break-word;
	}

	.root {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	img {
		width: 100vw;
	}

	.text-and-image__image img {
		max-height: 575px;
		object-position: 50% 30%;
		object-fit: cover;
		border-radius: calc(var(--theme-shape-radius) / 2);
		transition: border-radius var(--theme-transition);
		width: 100%;
		margin-bottom: var(--section-margin);
	}

	.text-and-image__image img:hover {
		border-radius: var(--theme-shape-radius);
	}
</style>
