---
import { BASE_PATH_WITHOUT_DOMAIN } from '../../../base-path.mjs';
import { Container } from '../../components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
---

<Layout>
	<Container>
		<section class="text-and-image__section">
			<div class="text-and-image__image">
				<picture slot="image-container">
					<img
						src={BASE_PATH_WITHOUT_DOMAIN +
							'/assets/images/historie/historie.png'}
						alt="Thron, Schützen und Vorstand in den Jahren nach der Vereinsgründung"
					/>
				</picture>

				<p class="img-alt">
					Thron, Schützen und Vorstand in den Jahren nach der Vereinsgründung
				</p>
			</div>
		</section>
	</Container>
	<Container>
		<div class="root">
			<div class="text-root">
				<h2>
					Ent&shy;stehung&shy;sgeschichte des Jung&shy;schützen&shy;vereins
					Barlo
				</h2>
				<p>
					Der Jungschützenverein Barlo wurde, nach Erzählungen, im Jahr 1920
					gegründet. Die Gründung war zu jener Zeit keineswegs unumstritten. Im
					Folgenden sind einige Aussagen zur frühen Geschichte des Vereins
					zusammengetragen.
				</p>
				<h3>Schwierigkeiten und Problematik bei der Vereinsgründung</h3>

				<p>
					Der damalige Pfarrer von Barlo, Ferdinand Schürmann (1915-34), hatte
					in einer handschriftlichen „Chronik der Pfarre zu Barlo“ über die
					Gründung des Junggesellenvereins folgenden Kommentar und Bedenken
					erörtert:
				</p>

				<p>
					<blockquote>
						„Im Januar dieses Jahres (1920) wurden von einigen Burschen hinter
						dem Rücken des Pfarrers im geheimen ein Junggesellenverein gegründet
						nach dem Muster desselben Vereines in Rhede. Dass ein solcher Verein
						in einer reinen Bauernschaft wie Barlo gar keinen Zweck hat und
						sogar für die Jugend verführerisch und gefährlich werden kann, liegt
						auf der Hand. Dieser Verein ist ein reiner Tanzverein und bezweckt
						nur, die Vergnügungssucht unter den jüngeren Leuten zu fördern, die
						in dieser Zeit gerade groß genug war. Das 1. Ziel, dass dieser
						Verein sich steckte, war, die Sonntagstänzerei in Barlo einzuführen;
						so zum Beispiel sollte der 1. Ball am Ostermontag stattfinden. Durch
						eifrige Gegenarbeit wurde dieses jedoch verhindert, auch am
						Kirmessonntag fand in diesem Jahre kein Ball hier statt, weil der
						Herr Baron von Graes, der zur Zeit stellvertretender Amtsmann war,
						keine Erlaubnis dazu gab, weil dieser Sonntags-Kirmesball früher nie
						gewesen sei und wegen des Bocholter Zuganges körperlich und geistig
						gefährlich werden konnte. Jedenfalls ist immer dahin zu wirken, dass
						dieser zwecklose Verein nicht schadet, respective ignoriert wird und
						das gute Barlo nicht in Verruf bringt. Bei den alten Barloern, die
						sehr konservativ sind und nicht viel von Neuerungen halten, erfreut
						sich der Verein keiner Beliebtheit. Später verbot Schulze Wehninck
						dem Vereinswirt, weder sonntags noch alltags (außer Kirmesmontag)
						von seiten des Junggesellenvereins einen Tanz in seinem Saale
						abhalten zu lassen. Da dieses Verbot große Erregung hervorrief, die
						zu allerhand Hetzerei missbraucht wurde, wurde später beiliegende
						Einigung erzielt. Später mäßigte sich der Verein in seinen
						Festveranstaltungen, so dass der Pfarrer besonders am 2. Kirmestage
						teilnahm.“ - Der letzte Satz wurde von ihm später nachgetragen.
					</blockquote>
				</p>
				<p>
					Zu dieser Einigung deckt sich auch die Anmerkung von Josef Hidding aus
					den 1930er Jahren in seinem Beitrag über „Jungschützenverein
					Kirchspiel Barlo“. Wie er zitiert:
					<blockquote>
						„Zu der Zeit hatte der Barloer Pastor wegen des Schützenfestes noch
						ein Wort mitzureden. Der Vorstand musste ihn fragen, ob das Fest
						stattfinden konnte und wie lange gefeiert werden durfte.“ In: „Barlo
						Gestern und Heute“ 2007, Seite 395
					</blockquote>
				</p>
				<p>
					Der Pastor Schürmann muss wohl eine ganz besondere Abneigung gegen das
					Tanzen gehabt haben wie er schon vorher im Frühjahr 1919 unter dem
					Thema „Tanzwut" berichtet:
					<blockquote>
						Ganz bald nach Beendigung des Weltkrieges setzte in ganz
						Deutschland, in Stadt und Land, eine furchbare Tanzwut ein, die
						namentlich in den Städten in obszöner Weise ausartete. Auch in Barlo
						fand der Tanzkoller allmählich Eingang. Ein Tanz reihte sich an den
						anderen, viele Tänze, welche während der Kriegszeit bei Hochzeiten
						etc. ausgefallen waren, wur- den rite (=ordnungsgemäß) nachgeholt.
						Man stand dieser wahrhaft „kranken" Erscheinung machtlos gegenüber
						und mußte nur versuchen, die Tanzsucht in ordnungsmäßige Bahnen zu
						leiten, was im allgemeinen auch gelang. Ein Glück war, dass es an
						geistigen Getränken, wenigstens an den starken „Friedensgetränken"
						fehlte, sonst wäre das Übel noch bei weiten größer geworden. Im
						September wurde nach 5-jähriger Unterbrechung wieder Barloer Kir-
						mes gefeiert, auf der ein Betrieb war wie auf Münsters Send (das war
						der dortige Kirmesplatz vor dem Schloss). Fast ganz Bocholt war
						vertreten. Mit der Mission am 1.12.1919 war wieder Ruhe im Kotten.
					</blockquote>
				</p>
				<h3>
					Ver&shy;mut&shy;liche Hin&shy;ter&shy;gründe der Vereins&shy;gründung
				</h3>
				<p>
					Aus diesen oben genannten Beobachtungen des Pfarrers Schürmann als
					Zeitzeugen kann man wohl schließen, dass das die Hintergründe für eine
					Vereinsgründung der jungen Leute gewesen sein wird. Auch in anderen
					Gemeinden wurden nach dem Ersten Weltkrieg neue Junggesellen
					Schützenvereine gegründet, wenn es dort die alten Schützengilden -
					soweit es welche gab - nicht mit der neuen Art des Feierns zurecht
					kamen, weil sie sich zu sehr an der alten Tradition aus früheren
					Zeiten, ohne jeglichen Zeremoniell, verbunden fühlten.
				</p>

				<h3>Die Zere&shy;monien des neuen Jung&shy;gesellen&shy;vereins</h3>
				<p>
					Sie wurden aus der Preußenzeit übernommen, wie auch die Uniformen und
					Kostüme... was man auch anderorts bei Neugründungen dieser Art
					beobachten kann. Zu dem Königspaar der Schützengesellschaft gehörten
					unter anderem auch 2 Throndamen. Ursprünglich und auch noch in der
					Preußenzeit waren sie als Gesellschafterinnen und Amüsierdamen des
					Königs angestellt gewesen. Der Hintergrund war damit verbunden, dass
					der König oder Graf oder sonstige höhere Adelige seine Gemahlin nicht
					selbst auserkoren bzw. auserwählen durfte. Es wurde von den Eltern
					schon vorbestimmt, wenn die Kinder noch klein waren, mit wem der Sohn
					oder die Tochter heiraten sollten. In der sogenannten Heiratspolitik
					versuchte man den eigenen Herrschaftsbereich durch Heiraten immer
					wieder äußerst erfolgreich auszudehnen, und im Reformationszeitalter
					spielte es auch eine Rolle, welche Konfession man war oder vertrat.
					Ehen wurden durch sogenannte Heiratsverträge bzw. Heiratspakte
					dingfest gemacht. Deswegen wurde es in der Gesellschaft der Adeligen
					akzeptiert, wenn sie sich bei Festen, Vergnügungsfeiern oder ähnlichen
					Anlässen eine andere Partnerin aussuchten, die ihnen besser gefiel als
					ihre eigene Ehefrau.
				</p>
			</div>
		</div>
	</Container>
</Layout>
<style>
	.text-root {
		max-width: 70ch;
	}

	.root {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	h1,
	h2,
	h3 {
		word-break: break-word;
	}
	img {
		width: 100vw;
	}
	.img-alt {
		font-size: 18px;
	}
	blockquote {
		font-style: normal;
	}
	.text-and-image__image img {
		max-height: 575px;
		object-fit: cover;
		border-radius: calc(var(--theme-shape-radius) / 2);
		transition: border-radius var(--theme-transition);
		width: 100%;
	}

	.text-and-image__image img:hover {
		border-radius: var(--theme-shape-radius);
	}
</style>
