---
import { Container } from '../../components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
---

<Layout>
	<Container>
		<div class="root">
			<h2>Vereinsführer, Oberst und Schriftführer ab 1950</h2>
			<div class="table">
				<div class="row head">
					<div class="cell">Jahr</div>
					<div class="cell">Vereinsführer</div>
					<div class="cell">Oberst</div>
					<div class="cell">Schriftführer</div>
				</div>

				<div class="row">
					<div class="cell">1950</div>
					<div class="cell">Bernhard Horstmann</div>
					<div class="cell">Otto Hüning</div>
					<div class="cell">Klemens Heynck</div>
				</div>
				<div class="row">
					<div class="cell">1951</div>
					<div class="cell">Bernhard Horstmann</div>
					<div class="cell">Heinrich Langert</div>
					<div class="cell">Klemens Heynck</div>
				</div>
				<div class="row">
					<div class="cell">1952</div>
					<div class="cell">Anton Seggewiß</div>
					<div class="cell">Paul Elsinghorst</div>
					<div class="cell">Bernhard Brake</div>
				</div>
				<div class="row">
					<div class="cell">1953</div>
					<div class="cell">Ludwig Horstmann</div>
					<div class="cell">Paul Elsinghorst</div>
					<div class="cell">Bernhard Brake</div>
				</div>
				<div class="row">
					<div class="cell">1954</div>
					<div class="cell">Ludwig Horstmann</div>
					<div class="cell">Paul Elsinghorst</div>
					<div class="cell">Bernhard Brake</div>
				</div>
				<div class="row">
					<div class="cell">1955</div>
					<div class="cell">Hermann Heßling</div>
					<div class="cell">Johann de Voß</div>
					<div class="cell">Alois Paus</div>
				</div>
				<div class="row">
					<div class="cell">1956</div>
					<div class="cell">Hermann Heßling</div>
					<div class="cell">Alois Terodde</div>
					<div class="cell">Alois Paus</div>
				</div>
				<div class="row">
					<div class="cell">1957</div>
					<div class="cell">Hermann Heßling</div>
					<div class="cell">Gerhard Telaar</div>
					<div class="cell">Josef Hungerkamp</div>
				</div>
				<div class="row">
					<div class="cell">1958</div>
					<div class="cell">Josef Nienhaus</div>
					<div class="cell">Gerhard Telaar</div>
					<div class="cell">Josef Hungerkamp</div>
				</div>
				<div class="row">
					<div class="cell">1959</div>
					<div class="cell">Josef Hungerkamp</div>
					<div class="cell">Gerhard Telaar</div>
					<div class="cell">Werner Heßling</div>
				</div>
				<div class="row">
					<div class="cell">1960</div>
					<div class="cell">Josef Hungerkamp</div>
					<div class="cell">Ludwig Kampshoff / Josef Hidding</div>
					<div class="cell">Werner Heßling</div>
				</div>
				<div class="row">
					<div class="cell">1961</div>
					<div class="cell">Karl Dienberg</div>
					<div class="cell">Josef Tebroke</div>
					<div class="cell">Werner Heßling</div>
				</div>
				<div class="row">
					<div class="cell">1962</div>
					<div class="cell">Karl Dienberg</div>
					<div class="cell">Josef Tebroke</div>
					<div class="cell">Werner Heßling</div>
				</div>
				<div class="row">
					<div class="cell">1963</div>
					<div class="cell">Josef Eising</div>
					<div class="cell">Josef Tebroke</div>
					<div class="cell">Werner Schulte-Lünzum</div>
				</div>
				<div class="row">
					<div class="cell">1964</div>
					<div class="cell">Josef Eising</div>
					<div class="cell">Heinrich Große-Bölting</div>
					<div class="cell">Werner Schulte-Lünzum</div>
				</div>
				<div class="row">
					<div class="cell">1965</div>
					<div class="cell">Johann Klein-Hitpaß</div>
					<div class="cell">Heinrich Große-Bölting</div>
					<div class="cell">Werner Schulte-Lünzum</div>
				</div>
				<div class="row">
					<div class="cell">1966</div>
					<div class="cell">Johann Klein-Hitpaß</div>
					<div class="cell">Heinrich Große-Bölting / Heinrich Tenhofen</div>
					<div class="cell">Werner Schulte-Lünzum / Karl Wittag</div>
				</div>
				<div class="row">
					<div class="cell">1967</div>
					<div class="cell">Karl Wittag</div>
					<div class="cell">Wilhelm Euting</div>
					<div class="cell">Ludwig Paus</div>
				</div>
				<div class="row">
					<div class="cell">1968</div>
					<div class="cell">Hubert Hidding</div>
					<div class="cell">Wilhelm Euting</div>
					<div class="cell">Ludwig Paus</div>
				</div>
				<div class="row">
					<div class="cell">1969</div>
					<div class="cell">Helmut Euting</div>
					<div class="cell">Bernhard Wiltink</div>
					<div class="cell">Ludwig Paus</div>
				</div>
				<div class="row">
					<div class="cell">1970</div>
					<div class="cell">Helmut Euting</div>
					<div class="cell">Bernhard Wiltink</div>
					<div class="cell">Johannes Beckmann</div>
				</div>
				<div class="row">
					<div class="cell">1971</div>
					<div class="cell">Helmut Euting</div>
					<div class="cell">Bernhard Wiltink</div>
					<div class="cell">Johannes Beckmann</div>
				</div>
				<div class="row">
					<div class="cell">1972</div>
					<div class="cell">Josef Giesing</div>
					<div class="cell">Hubert Hungerkamp / Hermann Wittag</div>
					<div class="cell">Ludger Siemen</div>
				</div>
				<div class="row">
					<div class="cell">1973</div>
					<div class="cell">Josef Giesing</div>
					<div class="cell">Hermann Wittag</div>
					<div class="cell">Ludger Siemen</div>
				</div>
				<div class="row">
					<div class="cell">1974</div>
					<div class="cell">Heinz Ding</div>
					<div class="cell">Wilhelm Langert</div>
					<div class="cell">Ludger Siemen</div>
				</div>
				<div class="row">
					<div class="cell">1975</div>
					<div class="cell">Heinz Ding</div>
					<div class="cell">Wilhelm Langert</div>
					<div class="cell">Ludger Siemen</div>
				</div>
				<div class="row">
					<div class="cell">1976</div>
					<div class="cell">Ludger Siemen</div>
					<div class="cell">Ludger Hungerkamp</div>
					<div class="cell">Rainer Lindemann / Wilhelm Epping</div>
				</div>
				<div class="row">
					<div class="cell">1977</div>
					<div class="cell">Ludger Siemen</div>
					<div class="cell">Ludger Hungerkamp</div>
					<div class="cell">Wilhelm Epping</div>
				</div>
				<div class="row">
					<div class="cell">1978</div>
					<div class="cell">Bernhard Overbeck</div>
					<div class="cell">Ludger Tepasse</div>
					<div class="cell">Wilhelm Epping</div>
				</div>
				<div class="row">
					<div class="cell">1979</div>
					<div class="cell">Georg Siemen</div>
					<div class="cell">Ludger Tepasse</div>
					<div class="cell">Bernhard Welling</div>
				</div>
				<div class="row">
					<div class="cell">1980</div>
					<div class="cell">Hubert Mölders</div>
					<div class="cell">Bernhard Overbeck</div>
					<div class="cell">Burkhard Welling</div>
				</div>
				<div class="row">
					<div class="cell">1981</div>
					<div class="cell">Hubert Wiltink</div>
					<div class="cell">Werner Overbeck</div>
					<div class="cell">Burkhard Welling</div>
				</div>
				<div class="row">
					<div class="cell">1982</div>
					<div class="cell">Hubert Wiltink</div>
					<div class="cell">Werner Overbeck</div>
					<div class="cell">Burkhard Welling</div>
				</div>
				<div class="row">
					<div class="cell">1983</div>
					<div class="cell">Hubert Wiltink</div>
					<div class="cell">Werner Overbeck</div>
					<div class="cell">Burkhard Welling</div>
				</div>
				<div class="row">
					<div class="cell">1984</div>
					<div class="cell">Vinzenz Brake</div>
					<div class="cell">Werner Overbeck</div>
					<div class="cell">Klaus Jungkamp</div>
				</div>
				<div class="row">
					<div class="cell">1985</div>
					<div class="cell">Vinzenz Brake</div>
					<div class="cell">Werner Overbeck</div>
					<div class="cell">Burkhard Welling</div>
				</div>
				<div class="row">
					<div class="cell">1986</div>
					<div class="cell">Klaus Tenbusch</div>
					<div class="cell">Werner Overbeck</div>
					<div class="cell">Ewald Groß-Hardt</div>
				</div>
				<div class="row">
					<div class="cell">1987</div>
					<div class="cell">Klaus Tenbusch</div>
					<div class="cell">Werner Overbeck</div>
					<div class="cell">Ewald Groß-Hardt</div>
				</div>
				<div class="row">
					<div class="cell">1988</div>
					<div class="cell">Werner Nienhaus</div>
					<div class="cell">Martin de Vos</div>
					<div class="cell">Ewald Groß-Hardt</div>
				</div>
				<div class="row">
					<div class="cell">1989</div>
					<div class="cell">Werner Nienhaus</div>
					<div class="cell">Hans-Jürgen Ahold</div>
					<div class="cell">Ewald Groß-Hardt</div>
				</div>
				<div class="row">
					<div class="cell">1990</div>
					<div class="cell">Johannes Heßling</div>
					<div class="cell">Hans-Jürgen Ahold</div>
					<div class="cell">Michael Siemen</div>
				</div>
				<div class="row">
					<div class="cell">1991</div>
					<div class="cell">Johannes Heßling</div>
					<div class="cell">Karl Mölders</div>
					<div class="cell">Michael Siemen</div>
				</div>
				<div class="row">
					<div class="cell">1992</div>
					<div class="cell">Bernhold Schulze Wehnink</div>
					<div class="cell">Karl Mölders</div>
					<div class="cell">Michael Siemen</div>
				</div>
				<div class="row">
					<div class="cell">1993</div>
					<div class="cell">Bernhold Schulze Wehnink</div>
					<div class="cell">Karl Mölders</div>
					<div class="cell">Michael Siemen</div>
				</div>
				<div class="row">
					<div class="cell">1994</div>
					<div class="cell">Bernhold Schulze Wehnink</div>
					<div class="cell">Berthold Giesing</div>
					<div class="cell">Detlef Eißing</div>
				</div>
				<div class="row">
					<div class="cell">1995</div>
					<div class="cell">Bernhold Schulze Wehnink</div>
					<div class="cell">Berthold Giesing</div>
					<div class="cell">Detlef Eißing</div>
				</div>
				<div class="row">
					<div class="cell">1996</div>
					<div class="cell">Detlef Eißing</div>
					<div class="cell">Berthold Giesing</div>
					<div class="cell">Gunnar Jungkamp</div>
				</div>
				<div class="row">
					<div class="cell">1997</div>
					<div class="cell">Detlef Eißing</div>
					<div class="cell">Christian Kampshoff</div>
					<div class="cell">Gunnar Jungkamp</div>
				</div>
				<div class="row">
					<div class="cell">1998</div>
					<div class="cell">Detlef Eißing</div>
					<div class="cell">Christian Kampshoff</div>
					<div class="cell">Gunnar Jungkamp</div>
				</div>
				<div class="row">
					<div class="cell">1999</div>
					<div class="cell">Andre Tenhofen</div>
					<div class="cell">Christian Kampshoff</div>
					<div class="cell">Gunnar Jungkamp</div>
				</div>
				<div class="row">
					<div class="cell">2000</div>
					<div class="cell">Andre Tenhofen</div>
					<div class="cell">Christian Kampshoff</div>
					<div class="cell">Matthias Tenhofen</div>
				</div>
				<div class="row">
					<div class="cell">2001</div>
					<div class="cell">Andre Tenhofen</div>
					<div class="cell">Arno Kamperschroer</div>
					<div class="cell">Matthias Tenhofen</div>
				</div>
				<div class="row">
					<div class="cell">2002</div>
					<div class="cell">Matthias Tenhofen</div>
					<div class="cell">Christian Knuf</div>
					<div class="cell">Carsten Telaar</div>
				</div>
				<div class="row">
					<div class="cell">2003</div>
					<div class="cell">Matthias Tenhofen</div>
					<div class="cell">Christian Knuf</div>
					<div class="cell">Carsten Telaar</div>
				</div>
				<div class="row">
					<div class="cell">2004</div>
					<div class="cell">Christian Knuf</div>
					<div class="cell">Guido Klump</div>
					<div class="cell">Dominic Euting</div>
				</div>
				<div class="row">
					<div class="cell">2005</div>
					<div class="cell">Christian Knuf</div>
					<div class="cell">Carsten Telaar</div>
					<div class="cell">Dominic Euting</div>
				</div>
				<div class="row">
					<div class="cell">2006</div>
					<div class="cell">Peter Stegemann</div>
					<div class="cell">Bernhard Schulze Wierling</div>
					<div class="cell">Matthias Ketteler</div>
				</div>
				<div class="row">
					<div class="cell">2007</div>
					<div class="cell">Peter Stegemann</div>
					<div class="cell">Bernhard Schulze Wierling</div>
					<div class="cell">Matthias Ketteler</div>
				</div>
				<div class="row">
					<div class="cell">2008</div>
					<div class="cell">Peter Stegemann</div>
					<div class="cell">Bernhard Schulze Wierling</div>
					<div class="cell">Matthias Ketteler</div>
				</div>
				<div class="row">
					<div class="cell">2009</div>
					<div class="cell">Andre Wiltink</div>
					<div class="cell">Bernhard Schulze Wierling</div>
					<div class="cell">Matthias Ketteler</div>
				</div>
				<div class="row">
					<div class="cell">2010</div>
					<div class="cell">Andre Wiltink</div>
					<div class="cell">Bernhard Schulze Wierling</div>
					<div class="cell">Marius Schlüter</div>
				</div>
				<div class="row">
					<div class="cell">2011</div>
					<div class="cell">Andre Wiltink</div>
					<div class="cell">Bernhard Schulze Wierling</div>
					<div class="cell">Marius Schlüter</div>
				</div>
				<div class="row">
					<div class="cell">2012</div>
					<div class="cell">Jörg Klump</div>
					<div class="cell">Bernhard Schulze Wierling</div>
					<div class="cell">Marius Schlüter</div>
				</div>
				<div class="row">
					<div class="cell">2013</div>
					<div class="cell">Jörg Klump</div>
					<div class="cell">Bernhard Schulze Wierling</div>
					<div class="cell">Marius Schlüter</div>
				</div>
				<div class="row">
					<div class="cell">2014</div>
					<div class="cell">Jörg Klump</div>
					<div class="cell">Rene Mölders</div>
					<div class="cell">Marius Schlüter</div>
				</div>
				<div class="row">
					<div class="cell">2015</div>
					<div class="cell">Marius Schlüter</div>
					<div class="cell">Rene Mölders</div>
					<div class="cell">Christian Demming</div>
				</div>
				<div class="row">
					<div class="cell">2016</div>
					<div class="cell">Marius Schlüter</div>
					<div class="cell">Rene Mölders</div>
					<div class="cell">Christian Demming</div>
				</div>
				<div class="row">
					<div class="cell">2017</div>
					<div class="cell">Marcel Groß-Holtick</div>
					<div class="cell">Rene Mölders</div>
					<div class="cell">Christian Demming</div>
				</div>
				<div class="row">
					<div class="cell">2018</div>
					<div class="cell">Marcel Groß-Holtick</div>
					<div class="cell">Philipp Nienhaus</div>
					<div class="cell">Christian Demming</div>
				</div>
				<div class="row">
					<div class="cell">2019</div>
					<div class="cell">Marcel Groß-Holtick</div>
					<div class="cell">Philipp Nienhaus</div>
					<div class="cell">Christian Demming</div>
				</div>
				<div class="row">
					<div class="cell">2020</div>
					<div class="cell">Matthias Schulze Wierling</div>
					<div class="cell">Philipp Nienhaus</div>
					<div class="cell">Lukas Kampshoff</div>
				</div>
				<div class="row">
					<div class="cell">2021</div>
					<div class="cell">Matthias Schulze Wierling</div>
					<div class="cell">Philipp Nienhaus</div>
					<div class="cell">Lukas Kampshoff</div>
				</div>
				<div class="row">
					<div class="cell">2022</div>
					<div class="cell">Matthias Schulze Wierling</div>
					<div class="cell">Philipp Nienhaus</div>
					<div class="cell">Lukas Kampshoff</div>
				</div>
				<div class="row">
					<div class="cell">2023</div>
					<div class="cell">Christoph Frankemölle</div>
					<div class="cell">Matthias Welling</div>
					<div class="cell">Lukas Kampshoff</div>
				</div>
				<div class="row">
					<div class="cell">2024</div>
					<div class="cell">Christoph Frankemölle</div>
					<div class="cell">Matthias Welling</div>
					<div class="cell">Lukas Kampshoff</div>
				</div>
				<div class="row">
					<div class="cell">2025</div>
					<div class="cell">Christoph Frankemölle</div>
					<div class="cell">Matthias Welling</div>
					<div class="cell">Jonas Pooth</div>
				</div>
			</div>
		</div>
	</Container>

	<style>
		.table {
			display: grid;
			grid-template-columns: min-content minmax(0, 1fr) minmax(0, 1fr) minmax(
					0,
					1fr
				);
			max-width: 1000px;
			margin-bottom: 2rem;
		}
		.table {
			display: grid;
			grid-template-columns: min-content minmax(0, 1fr) minmax(0, 1fr) minmax(
					0,
					1fr
				);
			max-width: 1000px;
			margin-bottom: 2rem;
		}
		.root {
			width: 100%;
			display: flex;
			align-items: center;
			flex-direction: column;
		}
		.cell {
			padding: 4px;
			word-break: break-word;
		}
		.cell:first-child {
			word-break: normal;
		}
		.row {
			display: contents;
		}
		.row:nth-child(odd) * {
			background-color: var(--theme-surface-1);
			color: var(--theme-on-surface-1);
		}
		.head .cell {
			background-color: var(--theme-primary);
			color: var(--theme-on-primary);
		}
		h2 {
			max-width: 1000px;
		}
	</style>
</Layout>
