---
import { Image } from 'astro:assets';
import { BASE_PATH_WITHOUT_DOMAIN } from '../../base-path.mjs';
import logo from './logo.png';
const { hideIfMobile = false } = Astro.props;
logo.height;
logo.width;
---

<div class="logo-root">
	<a href={BASE_PATH_WITHOUT_DOMAIN + '/'}>
		<!-- <JungschuetzenLogoSvg clazz="logo-component-svg" /> -->
		<Image id="logo-image" src={logo} alt="Jungschützenverein Barlo Logo" />
	</a>
	<a
		class={`logo-schriftzug ${hideIfMobile ? 'hide-if-mobile' : ''}`}
		href={BASE_PATH_WITHOUT_DOMAIN + '/'}
	>
		Jung&shy;schützen&shy;verein Barlo
	</a>
</div>

<style>
	.logo-root {
		display: flex;
		align-items: center;
		gap: 1rem;
		cursor: default;
	}
	.logo-schriftzug {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
		font-size: var(--font-size-md);
		color: inherit;
		text-decoration: none;
	}
	.logo-schriftzug:hover {
		text-decoration: underline;
	}

	@media (max-width: 768px) {
		.logo-schriftzug.hide-if-mobile {
			display: none;
		}
	}
</style>

<style is:global>
	.logo-component-svg,
	#logo-image {
		max-height: 4.5rem;
		max-width: 4.5rem;
		filter: invert(15%) sepia(9%) saturate(865%) hue-rotate(71deg)
			brightness(96%) contrast(92%);
	}
</style>
